{% extends 'admin_layout.html' %}
{% block site-title %}
Admin Panel - User Activity Graph
{% endblock site-title %}
{% block site-content %}
<div class="container">
    <h1 class="text-center text-white">İha oluştur </h1>
<div class="row justify-content-center">
    <div class="div d-flex" style="margin-top: 100px;">
        <a href={% url 'home' %}><div class="btn btn-primary p-3">geri git</div></a>

    </div>
    <div class="col-md-6 text-center">
       
        <form method="post"  enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
   

</div>


</div>

<script>
    $(document).ready(function() {
        $('form').on('submit', function(e) {
            e.preventDefault();

            var formData = new FormData(this);
            function showSuccessAlert(message) {
                Swal.fire({
                    icon: 'success',
                    title: 'Başarılı!',
                    text: message,
                    timer: 2000, 
                    showConfirmButton: false,
                });
            }
            
            function showErrorAlert(message) {
                Swal.fire({
                    icon: 'error',
                    title: 'Hata!',
                    text: message,
                });
            }
            $.ajax({
                type: 'POST',
                url: '/api/ihas/',
                data: formData,
                processData: false,
                contentType: false,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                success: function (data) {
              console.log("Başarıyla güncellenen kiralama:", data);
              showSuccessAlert("Başarıyla oluşturuldu");
              
              setTimeout(function () {
                  location.href = "/superuser/";
              }, 2000);
          },
          error: function (error) {
              console.error("Kiralama güncelleme hatası:", error);
              showErrorAlert("Kiralama güncelleme hatası");
          }
            });
        });
    });
</script>
{% endblock  %}