{% extends "layout.html" %}
{% load static %}
{% block site-title %}
  
{% endblock site-title %}
{% block site-content %}
<style>
  
  .discounted-item {
    position: relative;
    background-color: #ffdddd; /* Açık kırmızı arkaplan */
    border: 1px solid #ff5555; /* Koyu kırmızı kenarlık */
    border-radius: 5px; /* Kenarları yuvarlat */
    padding: 20px; /* İç boşluk */
    margin-top: 20px; /* Üstten boşluk */
  }
  .discounted-item h5 {
      color: #cc0000; /* Başlık rengi */
  }
  .price {
      text-decoration: line-through; /* Orijinal fiyat üzeri çizili */
      color: #777; /* Gri renk */
  }
  .discounted-price {
      font-weight: bold; /* İndirimli fiyat kalın yazı */
      color: #cc0000; /* Kırmızı renk */
  }
  .exclamation-mark {
            position: absolute;
            top: 10px;
            left: -30px;
            font-size: 24px;
            color: red;
            animation: shake 0.5s infinite;
        }
        @keyframes shake {
            0% { transform: translate(1px, 1px) rotate(0deg); }
            
            50% { transform: translate(-3px, 0px) rotate(1deg); }
        
            100% { transform: translate(1px, -1px) rotate(1deg); }
           
        }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

<div class="container mt-5">
  
       
{% if messages %}
  <ul class="messages bg-success rounded-4 p-3 w-25 ">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }} mx-5"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
<div class="row justify-content-between">
    <div class="col-md-5  "style="height: calc(100vh - 56px - 48px - 48px  - 574px );">
        <h3>Header</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium sit expedita culpa iste numquam nemo similique ipsum quas. Corrupti dolorum necessitatibus fugiat velit odio consequatur ullam eaque cupiditate, sunt laudantium delectus laborum asperiores animi distinctio quam accusamus nemo, dolore at omnis tempore atque neque, voluptatibus ipsum autem. Odit, quasi illum?</p>

     
        {% if not request.user.is_authenticated %}
          
          <a href={% url 'login' %}><button class="btn btn-primary"> giriş yap</button> </a>
        {% endif %}
        
        <a href="{% url 'contact' %}"><button class="btn btn-primary">iletişime geç!</button></a>
    </div>
    

    
</div>
<div class="row mt-5">
  <div class="owl-carousel">
    {% for iha in data %}
    <div class="item">

      <div class="iha-card text-black text-center rounded-4 mb-5" style="min-height: 350px;background-color: #e3f9ff;">
          <img   width="200px" height="200px" src={{iha.photo}} alt={{iha.brand}} class="iha-card-image rounded-top-4">
          <div class="iha-card-body">
              <h3 class="iha-card-title">{{iha.brand}}</h3>
              <div class="iha-card-availability p-4">
                  
                    <p><strong>Date:</strong>Available Now</p>
                    <a href={% url 'create_rental_detail' iha.id %}><button class="rent-button btn btn-primary">Rent Now</button></a>
                 
                    
             
              </div>
          </div>
      </div>
  </div>
    {% endfor %}
      
    
    </div>
</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script>
var owl = $('.owl-carousel');
owl.owlCarousel({
    items:4,
    loop:true,
    margin:10,
    autoplay:true,
    autoplayTimeout:2000,
    autoplayHoverPause:true
});

  </script>
{% endblock site-content %}