{% extends "layout.html" %}
{% load static %}
{% block site-title %}
  
{% endblock site-title %}
{% block site-content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

<div class="container mt-5">
  
       
{% if messages %}
  <ul class="messages bg-success rounded-4 p-3 w-25 ">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }} mx-5"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
<div class="row justify-content-between">
    <div class="col-md-6  "style="height: calc(100vh - 56px - 48px - 48px  - 574px );">
        <h3>Header</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium sit expedita culpa iste numquam nemo similique ipsum quas. Corrupti dolorum necessitatibus fugiat velit odio consequatur ullam eaque cupiditate, sunt laudantium delectus laborum asperiores animi distinctio quam accusamus nemo, dolore at omnis tempore atque neque, voluptatibus ipsum autem. Odit, quasi illum?</p>

     
        {% if request.user.is_authenticated %}
          <a href='#'><button class="btn btn-primary"> click for rent</button> </a>
          {% else %}
          <a href={% url 'login' %}><button class="btn btn-primary"> giriş yap</button> </a>
        {% endif %}
        
        <a href="{% url 'contact' %}"><button class="btn btn-primary">iletişime geç!</button></a>
    </div>
    
</div>
<div class="row mt-5">
  <div class="owl-carousel">
    {% for car in data %}
    <div class="item">
      <div class="car-card text-black text-center rounded-4 mb-5" style="min-height: 350px;background-color: #e3f9ff;">
          <img   width="200px" height="200px" src={{car.photo}} alt={{car.make}} class="car-card-image rounded-top-4">
          <div class="car-card-body">
              <h3 class="car-card-title">{{car.make}}</h3>
              <div class="car-card-availability p-4">
                  
                    <p><strong>Date:</strong>Available Now</p>
                    <a href='#'><button class="rent-button btn btn-primary">Rent Now</button></a>
                 
                    
             
              </div>
          </div>
      </div>
  </div>
    {% endfor %}
      
    
    </div>
</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script>
var owl = $('.owl-carousel');
owl.owlCarousel({
    items:4,
    loop:true,
    margin:10,
    autoplay:true,
    autoplayTimeout:2000,
    autoplayHoverPause:true
});

  </script>
{% endblock site-content %}